*
{
    padding:0 auto;
    margin:0 auto;
}
body{
    background-color: #07101f;
}

.wrapper
{
    width: 90%;
}
header
{
    width: 100%;
    height: 100%;
 
}

.logo_block
{
    color: #fff;
    font-size: 21px;
    font-family: monseratSB;
}

.header_block
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border: 2px red solid;
}

.menu_block_list
{
    
    display:flex;
    text-decoration: none;
    font-family: "monseratM";
}

.menu_list
{
    text-decoration-line: none;
    list-style-type: none;
    margin-right: 30px;
    font-size: 18px;
}

.menu_list a
{
    color: #fff;
    text-decoration: none;
}

.logo
{
    width: 50px;
    height: 50px;
    float: right;
}

.banner_text
{
    margin-top: 200px;
}
.banner_text p
{
    color: #3e4354;
    font-size: 20px;
    font-family: monseratR;
}
.banner_text h1
{
    color: #fff;
    font-size: 50px;
    margin-top: 20px;
    font-family: monseratSB;
}
.btn
{
    background-color: #9f289c;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 15px;
    border:none;
    margin-top: 40px; 
    font-family: monseratSB;
    color: #fff;
}
.btn:hover
{
    transform: scale(1.01);
    background-color: #8629ab;
}
