.main
{
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
.main_block
{
    display: flex;
   justify-content: center;
   align-items: center;
    
}
.block2
{
    width: 200px;
    height: 100px;
    background-color: grey;
}
button
{
    margin: 15px;
}